
.prgheader{
  display: flex;
  text-align: center;
  margin: 20px 0;
  padding: 10px
}
.prgsection {
    margin: 60px 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    display: flex; /* Enable flexbox */
    justify-content: flex-start; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition for smooth effect */
  }
  
  .prgsection:hover {
    transform: scale(1.05); /* Scale up the section */
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6); /* Enhance the box-shadow on hover */
  }  
  
  
/* projects in the div */
  .card {
    flex: 0 0 auto; /* Prevents cards from shrinking or growing */
    width: 300px; /* Set a fixed width for the cards */
    border: 1px solid #060252;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 26px 0 rgba(0, 0, 0, 0.648);
  }
  
  .slideshow {
    display: flex;
    gap: 20px; /* Adds spacing between the cards */
    overflow-x: auto; /* Allows horizontal scrolling if needed */
    flex-direction: row;
  }